<div class="navbar" id="left">
    <div id="logo">💯</div>
    <div class="nav-option">
        <a href="">Login</a>
        <a href="/devices-list">Devices List</a>
        <a href="/add-new-device">Add New Device</a>
    </div>
</div>
