<%- include ('./partials/header') %>

<div class="container">
    <%- include ('./partials/left') %>
    <div id="right">
        <%- include ('./partials/inputForm') %>
    </div>
</div>

<%- include ('./partials/footer') %>
