<%- include ('./partials/header') %>

<div class="container">
    <%- include ('./partials/left') %>
    <div id="right">
        <% devices.forEach(element => { %>
        <h1><%=element.name%></h1>
        <% }) %>
    </div>

</div>
<%- include ('./partials/footer') %>
