<div class="navbar" id="left">
    <div id="logo">💯</div>
    <div class="nav-option">
        <a href="">Login</a>
        <a href="">Devices List</a>
        <a href="">Add New Device</a>
    </div>
</div>
