<div id="right">
    <div class="promote">
        Smart Devices & Internet of Things Solutions.
    </div>
    <div class="device">
        <div id="name">Name</div>
        <div id="description"> Description
        </div>
    </div>
    <div class="control-feature">
        <div id="control">
            Control operations
            <br>
            <!-- Rounded switch -->
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div id="history">
            Control history
        </div>
    </div>
</div>
